[submodule "server/external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "server/external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "server/external/libpqxx"]
	path = external/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "server/external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "server/external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "server/external/libsodium"]
	path = external/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "server/external/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "server/external/robin-hood-hashing"]
	path = external/robin-hood-hashing
	url = https://github.com/oipo/robin-hood-hashing.git
[submodule "server/external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "server/external/pcg-cpp"]
	path = external/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "server/external/websocketpp"]
	path = external/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "server/external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "server/external/concurrentqueue"]
	path = external/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git
[submodule "external/wyhash"]
	path = external/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
